<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container" style="margin-top: 50px; text-align: center;">
        <article>
            <header><h2>Success! </h2></header>
            <p>All voters have been processed and informative emails were sent to them.</p>
            <a href="{{ voting_url }}" role="button">Back to the archive (Homepage)</a>
        </article>
    </main>
</body>
</html>